@media(min-width: 375px) {
    .hero_abourCard_item {
        width: 165px;
    }

    .appoint_submitBtn button {
        padding: 17px 58px;
    }
}

@media(min-width: 540px) {

    .hero_abourCard_item {
        width: 180px;
        padding: 22px 6px;
    }

    .hero_abourCard_text span {
        font-size: 16px;
        line-height: 22px;
    }

    .about_card_item {
        width: calc(50% - 12px);
        padding: 54px 30px;
    }

    .about_titleBtn {
        font-size: 18px;
    }

    .about_heading_text {
        font-size: 32px;
        line-height: 42px;
    }

    .our_deapartment_item {
        width: calc(50% - 12px);
    }

    .our_service_content {
        padding: 60px 45px;
    }

    .our_service_item {
        padding: 57px 37px;
    }

    .section_title_mainText {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .section_title_heading {
        font-size: 34px;
        line-height: 42px;
        font-weight: 700;
    }

    .our_doctors_category {
        font-size: 12px;
    }

    .our_doctors_name {
        font-size: 14px;
    }

    .our_doctors_item {
        width: calc(50% - 12px);
    }

    .our_lab_contentList ul {
        gap: 20px;
    }

    .our_lab_contentList ul li {
        gap: 10px;
    }

    .our_lab_contentList_number {
        height: 40px;
        width: 40px;
        font-size: 18px;
    }

    .our_lab_contentList_text {
        font-size: 16px;
        line-height: 24px;
        width: calc(100% - 50px);
    }

    .appoint_wrapper {
        padding: 40px 20px;
    }

    .appoint_title_top {
        padding: 0px 24px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .appoint_title_heading h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .appoint_title {
        text-align: center;
        margin-bottom: 50px;
    }

    .appoint_form_inner {
        height: 60px;
    }

    .appoint_form_textarea {
        height: 120px !important;
    }

    .home_contact_item_image {
        width: 80px;
    }

    .home_contact_item {
        flex-direction: row;
    }

    .home_contact_item_text {
        text-align: left;
    }

    .footer_top_wrapper {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer_logo {
        width: 187px;
    }

    .footer_btn button {
        position: absolute;
        transform: translateY(-50%);
        background: var(--mainColor);
        margin-top: 0px;
    }

    .newsletter_form_wrapper {
        background-color: var(--globalColor);
    }

    .footer_wrapper {
        gap: 40px;
    }

    .footer_item {
        width: calc(50% - 20px);
    }

    .newsletter_footer {
        width: 100%;
    }

    .newsletter_form {
        padding: 36px;
    }

    .aboutpage_card_item {
        flex-direction: row;
    }

    .alldoctors_item {
        width: calc(50% - 12px);
    }

    .doctorBanner_content {
        padding: 100px 20px;
    }

    .doctorBanner_wrapper {
        padding: 61px 51px;
    }

    .doctorBanner_heading {
        font-size: 24px;
        line-height: 32px;
    }

    .ourdepartment_item {
        flex-direction: row;
    }

    .ourdepartment_content {
        text-align: left;
    }

    .aboutSection_titleBtn a {
        padding: 12px 45px;
        font-size: 18px;
    }

    .contact_form {
        padding: 81px 62px;
    }

    .contact_wrapper {
        padding: 60px 20px;
    }

}

@media(min-width: 768px) {
    .header_section {
        padding: 20px 0px;
    }

    .hero_wrapper {
        flex-direction: row;
    }

    .hero_content {
        width: 55%;
    }

    .hero_thumbnail {
        width: 48%;
        margin-right: -3%;
    }

    .hero_section {
        padding-top: 30px;
        padding-bottom: 90px;
    }

    .hero_title_text {
        font-size: 18px;
    }

    .hero_heading_text {
        font-size: 42px;
        line-height: 54px;
    }

    .hero_text {
        font-size: 16px;
        line-height: 24px;
    }

    .hero_title {
        margin-bottom: 10px;
    }

    .hero_heading {
        margin-bottom: 30px;
    }

    .hero_abourCard_item {
        width: 190px;
        padding: 24px 6px;
    }

    .hero_abourCard_text span {
        font-size: 17px;
        line-height: 24px;
    }

    .hero_text_inner {
        margin-bottom: 50px;
    }

    .section_padding {
        padding: 40px 0px;
    }

    .about_card {
        margin-top: 40px;
    }

    .about_wrapper {
        flex-direction: row;
    }

    .about_thumbnail {
        width: 52%;
    }

    .about_content {
        width: 41%;
    }

    .about_heading_text {
        font-size: 24px;
        line-height: 34px;
    }

    .about_btn_icon {
        width: 30px;
    }

    .about_btn_text {
        font-size: 20px;
    }

    .our_service_heading_text {
        font-size: 40px;
        line-height: 50px;
    }

    .section_title_heading {
        font-size: 40px;
        line-height: 50px;
    }

    .section_title {
        align-items: flex-end;
        flex-direction: row;
    }

    .our_doctors_item {
        padding: 44px 22px;
    }

    .our_doctors_name {
        font-size: 20px;
        line-height: 32px;
    }

    .our_doctors_category {
        font-size: 16px;
    }

    .our_doctors_content {
        margin-top: 50px;
    }

    .our_doctorsItem_body {
        margin-bottom: 30px;
    }

    .our_doctorsItem_footer {
        align-items: center;
        flex-direction: row;
    }

    .testimonial_wrapper {
        flex-direction: row;
        gap: 5%;
    }

    .our_lab_wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .our_lab_content {
        width: 41%;
    }

    .our_lab_thumbnail {
        width: 52%;
    }

    .our_lab_contentList {
        margin-top: 40px;
    }

    .our_deapartment_item {
        padding: 40px 40px 36px;
    }

    .home_contact_wrapper {
        flex-direction: row;
    }

    .footer_logo {
        width: 207px;
    }

    .footer_item_title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .footer_wrapper {
        gap: 20px;
    }

    .footer_item {
        width: calc(33.33% - 14px);
    }

    .newsletter_footer {
        width: 100%;
    }

    .aboutBanner_content {
        width: 60%;
    }

    .aboutBanner_thumbnail {
        width: 40%;
    }

    .about_banner_subTitle_text {
        font-size: 30px;
        line-height: 40px;
    }

    .aboutpage_card_item {
        height: 300px;
    }

    .alldoctors_item {
        width: calc(33.33% - 16px);
    }

    .doctorBanner_content {
        padding: 152px 20px;
    }

    .ourdepartment_item {
        width: calc(50% - 12px);
    }

    .news_item {
        width: calc(50% - 12px);
    }

    .news_section_title h1 {
        font-size: 45px;
        margin-bottom: 50px;
    }

    .contact_input_inner {
        width: calc(50% - 12px);
    }

}

@media(min-width: 1024px) {
    .mobile_toggle {
        display: none;
    }

    .header_nav,
    .header_btn {
        display: block;
    }

    .header_section {
        padding: 30px 0px;
    }

    .hero_section {
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .hero_heading_text {
        font-size: 58px;
        line-height: 70px;
    }

    .hero_abourCard_wrapper {
        gap: 24px;
    }

    .section_padding {
        padding: 50px 0px;
    }

    .about_card {
        margin-top: 50px;
    }

    .about_card_item {
        padding: 50px 30px;
        width: calc(25% - 18px);
    }

    .about_heading_text {
        font-size: 30px;
        line-height: 42px;
    }

    .our_deapartment_item {
        width: calc(33.33% - 16px);
    }

    .our_doctors_item {
        width: calc(33.33% - 18px);
    }

    .our_doctors_name {
        font-size: 18px;
    }

    .our_doctors_category {
        font-size: 14px;
    }

    .our_lab_wrapper {
        align-items: center;
    }

    .appoint_form_textarea {
        height: 160px !important;
    }

    .appoint_content::after,
    .appoint_content::before {
        content: "";
        position: absolute;
        background-image: url(../image/fromElips.png);
        width: 107px;
        height: 217px;
    }

    .appoint_content::after {
        top: 0px;
        left: 0px;
    }

    .appoint_content::before {
        bottom: 0px;
        right: 0px;
    }

    .home_contact_item {
        gap: 0px 50px;
    }

    .home_contact_wrapper {
        padding: 60px 20px;
    }

    .footer_wrapper {
        gap: 30px;
    }

    .footer_item {
        width: calc(33.33% - 20px);
    }

    .newsletter_footer {
        width: 75%;
    }

    .alldoctors_item {
        width: calc(25% - 18px);
    }

    .doctorBanner_content {
        padding: 182px 20px;
    }

    .finddoctors_form_wrapper {
        flex-direction: row;
    }

    .news_item {
        width: calc(33.33% - 16px);
    }

}

@media(min-width: 1240px) {

    .header_logo {
        margin-right: 30px;
    }

    .header_nav {
        margin: 0px 30px;
    }

    .header_btn {
        margin-left: 30px;
    }

    .header_logoImage {
        max-width: 200px;
    }

    .header_btn_inner {
        padding: 16px 22px;
    }

    .header_section {
        padding: 53px 0px;
    }

    .hero_heading_text {
        font-size: 70px;
        line-height: 80px;
    }

    .hero_abourCard_item {
        width: 216px;
        padding: 24px 10px;
    }

    .hero_abourCard_text span {
        font-size: 18px;
        line-height: 28px;
    }

    .hero_wrapper {
        align-items: center;
    }

    .section_padding {
        padding: 60px 0px;
    }

    .about_card {
        margin-top: 60px;
    }

    .about_card_item {
        padding: 54px 57px;
    }

    .about_heading_text {
        font-size: 40px;
        line-height: 50px;
    }

    .about_text {
        font-size: 16px;
        line-height: 24px;
    }

    .about_section_btn a {
        padding: 12px 30px;
    }

    .about_content_textInner {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .about_btn_icon {
        width: 40px;
    }

    .about_btn_text {
        font-size: 24px;
    }

    .our_doctors_name {
        font-size: 24px;
        line-height: 32px;
    }

    .our_doctors_category {
        font-size: 18px;
    }

    .card_btn a {
        padding: 12px 45px;
    }

    .our_lab_contentList ul li {
        gap: 20px;
    }

    .our_lab_contentList_number {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }

    .our_lab_contentList_text {
        font-size: 18px;
        width: calc(100% - 80px);
    }

    .our_lab_contentList {
        margin-top: 60px;
    }

    .our_deapartment_item {
        width: calc(25% - 18px);
    }

    .testimonial_wrapper {
        gap: 10%;
    }

    .footer_wrapper {
        gap: 10px;
    }

    .footer_item {
        width: calc(20% - 10px);
    }

    .newsletter_footer {
        width: calc(40% - 20px);
        margin-left: 20px;
    }

    .aboutPcard_wrapper {
        flex-direction: row;
    }

    .aboutPcard_title_text {
        font-size: 30px;
        line-height: 40px;
    }

    .aboutcard_details_title {
        font-size: 18px;
        line-height: 24px;
    }

    .doctorBanner_content {
        padding: 212px 20px;
    }




    .ourdepartment_item {
        height: 282px;
        flex-direction: row;
    }

    .ourdeapartment_title {
        font-size: 30px;
        line-height: 40px;

    }

    .ourdeapartment_heading {
        font-size: 18px;
        line-height: 30px;
    }

    .ourdepartment_image {
        width: 150px;
    }

    .ourdepartment_image img {
        width: 100%;
        display: block;
    }
}